body {
    min-width: 1147px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    padding: 0;
    padding-top: 10px;
    background: #859d8f url("./../img/fond-1.jpg") no-repeat 50% 0; /* первый слой промо */
 /*   background: #859d8f url("./../preview/gllacy-index-1200.jpg") no-repeat 50% 0; */
    /*      шаблон страницы    */

    /*  для интерактива:
        второй слой промо #8996a6 url("./../img/fond-2.jpg") no-repeat 50% 0%
        третий слой промо #9d8b84 url("./../img/fond-3.jpg") no-repeat 50% 0%   */
}

.big-container,
.min-container {
    width: 1147px;
    margin: 0 auto;
}

body.catalog {
    background: #859d8f url("./../img/fond-catalog.jpg") repeat-x;
/*    background: #859d8f url("./../preview/gllacy-catalog-1200.jpg") no-repeat 50% 0;  */
        /*      шаблон страницы    */
}

.visually-hidden {
    visibility: hidden;
    position: absolute;
}

a,
.button {
    color: #ffffff;
}

.url {
    font-size: 16px;
    font-weight: 500;
}

.url:hover,
.url:active {
    color: #ffbc9e;
}

.button {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    padding: 13px 20px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to top, #e64b35, #f16743);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.button:hover {
    background-image: linear-gradient(to top, #ff6f5d, #ff8768);
    box-shadow: 0 2px 0 0 rgba(172, 16, 0, 0.64);
}

.button:active {
    background-image: linear-gradient(to bottom, #e1613b, #d74632);
    box-shadow: 0 -2px 0 0 rgba(172, 16, 0, 0.64);
}

.button-promo {
    position: absolute;
    bottom: 40px;
    font-size: 32px;
    padding: 17px 39px;
    height: 31px;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
}

.button-filter {
    position: relative;
    bottom: -20px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 148px;
    height: 38px;
}

.button-filter:hover {
    color: #323232;
    background-color: #ffffff;
}

.button-filter:active {
    border: none;
    background-color: #ededed;
    box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 1)
}

.main-header {
/*    outline: 3px solid lightyellow;   */
    /*  временная рамка     */
}

.main-nav {
    display: flex;
    flex-direction: row;
/*    outline: 2px solid orangered;     */
/*  временная рамка     */
    align-items: center;
    line-height: 18px;
    font-weight: 400;
}

.main-footer .url {
    font-size: 13px;
}

.main-nav .site-navigation {
    list-style: none;
}

.main-nav .site-navigation > li,
.main-nav .user-navigation > li,
.new,
li.catalog {
    font-weight: 700;
}

.catalog ul {
    font-size: 14px;
    font-weight: 400;
}

.site-navigation li {
    position: relative;
    display: inline-block;
    margin-left: -4px;
}

.site-navigation > li > a {
    padding: 5px 15px; /* размер кнопок главного меню */
}

.site-navigation > li > .url:hover {
    text-decoration: none;
    color: #333333;
    border-radius: 50px;
    background-color: #f7f6f3;
}

.site-navigation > li > .url:active {
    background-color: rgba(248, 247, 244, 0.988);
    box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.8);
}

.catalog-active .url{
    text-decoration: none;
    border-radius: 50px;
    background: #d07058;
}

.site-navigation a {
    display: block;
    margin-left: -1px;
}

.site-navigation > li:hover .sub-menu-catalog {
    display: block;
}

.sub-menu-catalog {
    position: absolute;
    left: 1px;
    display: none;
    width: 126px;
    margin: 0 -10px;
    padding: 0;
    background-color: #f8f7f4;
    border-radius: 5px;
    border: 9px solid #f8f7f4;
}

.sub-menu-catalog li {
    list-style: none;
    padding: 4px 12px;
    margin: 0;
}

.sub-menu-catalog li:first-child {
    padding-top: 4px;
    padding-bottom: 10px;
}

.sub-menu-catalog li:hover {
    background-color: #fbdEd7;
}

.sub-menu-catalog li:active {
    background-color: #f6b5a5;
}

.sub-menu-catalog .milk-active {
    background-color: #ea7056;
}

.separator {
    padding: 0;
    margin: 0;
}

.sub-menu-catalog a {
    text-decoration: none;
    color: #323232;
    font-size: 14px;
}

.sub-menu-catalog .milk-active {
    background-color: #ea7056;
}

.milk-active a {
    color: #ffffff;
}

.user-navigation {
    list-style: none;
    margin-left: auto;
/*    outline: 2px solid yellow;    */
    /*  временная рамка     */
}

.user-navigation li {
    display: inline-block;
}

.user-navigation .user-url {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    padding: 5px 15px; /* размер кнопок пользовательского меню */
}

.user-navigation .user-url:hover {
    color: #323232;
    background-color: rgba(248, 247, 244, 0.98);
}

.header-phone {
/*    margin-right: 25px;       к следующему заданию    */
    margin: 0;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

.header-phone span {
    font-size: 22px;
    line-height: 30px;
}

.breadcrumbs ul {
    list-style: none;
}

.breadcrumbs a {
    font-size: 14px;
}

.breadcrumbs a::after {
    content: "»";
    display: inline-block;
    margin: 0 8px;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
    color: #ffbc9e;
}

.breadcrumbs .url-active {
    text-decoration: none;
}

.breadcrumbs .url-active::after {
    display: none;
}

.promo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    min-height: 500px;
/*    outline: 3px solid greenyellow;   */
    /*  временная рамка     */
}

.index-paginator {
    justify-content: flex-end;
    align-items: flex-start;
}

h1.caption {
    position: absolute;
    bottom: 90px;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-size: 60px;
    font-weight: 700;
    line-height: 60.35px;
    text-align: center;
}

h1.caption-catalog {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    margin-top: 0;
}

form.filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.filter .filter-sort,
.filter .filter-fillings {
    padding-left: 0;
    margin-left: 0;
}

.filter-sort,
.filter-price,
.filter-fat,
.filter-fillings {
    border: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.filter-sort select {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    padding: 6px 13px;
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 50px;
    height: 38px;
}

.filter-price div.price-number {
    font-size: 16px;
    line-height: 18px;
/*    padding: 6px 13px;    */
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 50px;
    width: 200px;
    height: 38px;
}

.filter-fat .fat {
    font-size: 16px;
    line-height: 18px;
    padding: 13px;
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 50px;
    height: 10px;
}

.filter-fillings {
    padding-bottom: 0;
}

.filter-fillings .fillings-type {
    font-size: 16px;
    line-height: 18px;
    padding: 13px;
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 50px;
    height: 10px;
}

.sale {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

.sale-raspberry,
.sale-chocolate {
    position: relative;
    top: 0;
    left: 0;
    width: 560px;
    height: 230px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    border-radius: 15px;
}

.sale-raspberry {
    background-image: url("./../img/raspberry-background.jpg");
}

.sale-chocolate {
    background-image: url("./../img/chocolate-background.jpg");
}

.sale h2 {
    font-size: 35px;
    line-height: 41px;
    margin: 0;
}

.button-sale {
    position: absolute;
    top: 160px;
    right: 20px;
    font-size: 18px;
    line-height: 24px;
}

.hit {
    margin-bottom: 40px;
}

.hit > ul,
.price-list > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.hit li,
.price-list li {
    position: relative;
    width: 267px;
    text-align: center;
/*    outline: 2px solid darkblue;    /*   временная рамка   */
}

.price-list ul {
    flex-wrap: wrap;
}

.price-list li {
    margin-bottom: 40px;
}

.price-list li:hover {  /*
    position: relative;
    width: 293px;
    height: 405px;
    background-color: rgba(248,247,244, 0.2);
    border-radius: 5px;
    */
}

.hit .ice,
.price-list .ice,
.modal-buy img {
    border-radius: 50%;
}

.hit-image {
    position: absolute;
    top: 0;
    left: 0;
}

.hit p,
.price-list p {
    position: absolute;
    top: 180px;
    left: 0;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
}

.weight {
    font-size: 35px;
}

.hit > li > a,
.price-list > li > a {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.price-list a:hover,
.price-list a:active {
    color: #ffbc9e;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1147px;
    color: #323232;
    background: #eee0c7 url("./../img/features-fond.png") repeat;
    border-radius: 15px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 40px;
}

.features ul {
    list-style: none;
}

.features .features-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    padding: 0;
    margin: 0;
}

.features-list {
    padding: 0;
    margin: 0;
}

.sweet-news {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 40px;
}

.blog {
    width: 560px;
    height: 220px;
    color: #323232;
    background: #ffffff url("./../img/blog-background.jpg") no-repeat;
    border-radius: 15px;
}

.blog-description {
    font-weight: 500;
}

.blog-title a {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #323232;
    background-color: rgba(255, 255, 255, 0.8);
}

.subscribtion {
    width: 560px;
    height: 220px;
    color: #323232;
    background-image: url("./../img/bg-post-2.svg"),
                      url("./../img/bg-post.svg");
    background-repeat: no-repeat,
                       no-repeat;
    background-position: 50% 50%,
                         50% 50%;
    border-radius: 15px;
}

.navigation {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1200px;
}

.navigation-map {
    position: relative;
    background: url("./../img/map.jpg") no-repeat 0 0;
}

.marker {
    position: relative;
    top: 140px;
    left: 268px;
}

.contacts {
    position: relative;
    top: -95px;
    left: 870px;
    width: 300px;
    height: 305px;
    font-size: 14px;
    line-height: 20px;
    color: #323232;
    background-color: #ffffff;
    border-radius: 15px;
}

.contacts span {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.catalog-paginator {
    width: auto;
    height: 135px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 19px;
}

.paginator {
    position: relative;
    top: 80px;
}

.paginator a {
    width: 20px;
    height: 20px;
    text-decoration: none;
    padding: 5px 10px;
}

.paginator a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

.paginator a:active,
.paginator .active {
    background-color: #ffffff;
    border-radius: 50%;
    color: #3b3b3b;
    font-weight: 500;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.main-footer a {
    line-height: 18px;
    font-weight: 400;
}

.footer-documents {
    position: relative;
    height: 45px;
    columns: 160px auto;
    margin-right: 120px;
}

.love {
    position: absolute;
    top: 4px;
    left: -22px;
}

.footer-social ul {
    padding: 0;
    list-style: none;
}

.footer-social li {
    display: inline-block;
}

.social-button img {
    opacity: 0.8;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.social-button:hover img {
    opacity: 1;
    border: 2px solid rgba(255, 255, 255, 0.7);
}

.social-button:active img {
    opacity: 0.6;
    border: 2px solid rgba(255, 255, 255, 0.7);
}

.footer-documents .url:first-child {
    font-weight: 700;
}

.main-footer p,
.footer-copyright {
    font-size: 12px;
}

.footer-copyright {
}

.modal {
    display: none;
    color: #323232;
    background-color: #f8f7f4;
}

.modal-search {
    width: 340px;
    border-radius: 5px;
}

.modal-login {
    width: 275px;
    border-radius: 5px;
}

.modal-login a {
    color: #323232;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    padding-top: 0;
}

.modal-login a:hover,
.modal-login a:active {
    color: #e84d37;
    font-weight: 400;
}

.modal-reply {
    width: 475px;
    border-radius: 10px;
}

.modal-buy {
    width: 540px;
    border-radius: 5px;
    font-size: 13px;
    line-height: 16px;
}

.modal-buy span {
    opacity: 0.5;
}

.modal-buy .sum {
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-align: right;
}

.modal-card {
    width: 293px;
    height: 405px;
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 5px;
}

.form-input,
.form-textarea {
    padding: 10px 10px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid #b2b2b2;
    opacity: 0.7;
    box-sizing: border-box;
}

.form-input {
    width: 250px;
    height: 40px;
}
.form-textarea {
    width: 250px;
    height: 200px;
}

.form-input:hover,
.form-textarea:hover {
    border: 2px solid #b2b2b2;
}

.form-input:focus,
.form-textarea:focus {
    outline: 0;
    border: 2px solid #8fbdec;
    opacity: 1;
}

.form-input::placeholder,
.form-textarea::placeholder {
    font-weight: 400;
}