body {
    min-width: 1200px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
 /*   background: #859d8f url("./../preview/gllacy-index-1200.jpg") no-repeat 50% 0; */
    /*      шаблон страницы    */
}

body.catalog {
    background: #859d8f url("./../img/fond-catalog.jpg") repeat-x;
    /*    background: #859d8f url("./../preview/gllacy-catalog-1200.jpg") no-repeat 50% 0;  */
    /*      шаблон страницы    */
}

.site-wrapper {
    background-color: #859d8f;
    background-image: url("./../img/fond-1.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
}
/*  для интерактива:
    второй слой промо #8996a6 url("./../img/fond-2.jpg") no-repeat 50% 0%
    третий слой промо #9d8b84 url("./../img/fond-3.jpg") no-repeat 50% 0%   */

.big-container,
.min-container {
    width: 1147px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
}

a,
.button {
    color: #ffffff;
}

.url,
.nav-url {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.url:hover,
.url:active {
    color: #ffbc9e;
}

.url-underline {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.url-underline:hover,
.url-underline:active {
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.button {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    padding: 10px 22px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to top, #e64b35, #f16743);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.button:hover {
    background-image: linear-gradient(to top, #ff6f5d, #ff8768);
    box-shadow: 0 2px 0 0 rgba(172, 16, 0, 0.64);
}

.button:active {
    background-image: linear-gradient(to bottom, #e1613b, #d74632);
    box-shadow: 0 -2px 0 0 rgba(172, 16, 0, 0.64);
}

.main-header {
    z-index: 1;
}

.main-header-logo {
    padding-top: 9px;
}

.main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.site-navigation {
    display: flex;
    list-style: none;
    padding-left: 7px;
}

.site-navigation .catalog,
.site-navigation .catalog-active {
    position: relative;
    top: 0;
    left: 0;
}

.site-navigation > li {
    font-weight: 700;
}

.site-navigation .nav-url {
    padding: 7px 14px; /* размер кнопок главного меню */
}

.site-navigation .nav-url:hover {
    text-decoration: none;
    color: #333333;
    border-radius: 50px;
    background-color: #f7f6f3;
}

.site-navigation .nav-url:active {
    background-color: rgba(248, 247, 244, 0.988);
    box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.8);
}

.nav-url:hover > .url-underline,
.nav-url:active > .url-underline,
.catalog-active .nav-url > .url-underline {
    border-bottom: 1px solid transparent;
}

.site-navigation > li:hover .sub-menu-catalog {
    display: block;
}

.catalog-active .nav-url {
    font-weight: 700;
    text-decoration: none;
    border-radius: 50px;
    background: #d07058;
}

.sub-menu-catalog {
    position: absolute;
    top: 23px;
    left: -7px;
    display: none;
    width: 143px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    background-color: #f8f7f4;
    border-radius: 5px;
    z-index: 2;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
}

.sub-menu-catalog li {
    list-style: none;
    padding: 6px 20px;
    margin: 4px 0;
}

.sub-menu-catalog .new {
    border-bottom: 1px solid #d1d0ce;
    padding-bottom: 10px;
}

.sub-menu-catalog > .new > a {
    font-weight: 700;
}

.sub-menu-catalog li:hover {
    background-color: #fbdEd7;
}

.sub-menu-catalog li:active {
    background-color: #f6b5a5;
}

.sub-menu-catalog a {
    text-decoration: none;
    color: #323232;
    font-size: 14px;
}

.sub-menu-catalog .milk-active {
    background-color: #ea7056;
}

.milk-active a {
    color: #ffffff;
}

.user-navigation {
    margin-left: auto;
    display: flex;
    list-style: none;
}

.user-navigation li {
    font-weight: 700;
    margin-left: 11px;
}

.user-navigation a {
    text-decoration: none;
}

.user-navigation .basket-nav {
    margin-left: 9px;
}

.user-navigation .user-url {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
}

.user-url::after {
    position: absolute;
    top: 6px;
    left: 14px;
    content: "";
    width: 22px;
    height: 22px;
}

.user-navigation .user-url:hover {
    color: #323232;
    background-color: rgba(248, 247, 244, 0.98);
}

.user-navigation .search {
    padding: 7px 16px;   /* размер кнопок пользовательского меню / поиск */
}

.search::after {
    left: 7px;
    background: url("./../img/loupe.svg") no-repeat 0 0;
}

.search:hover::after {
    background: url("./../img/loupe-hover.svg") no-repeat 0 0;
}

.modal-search {
    display: none;      /*  скрытая форма поиска   */
    position: absolute;
    top: 55px;
    left: 50%;
    margin-left: 3px;
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.modal-search .form-input {
    width: 311px;
    height: 44px;
    margin: 20px 15px;
}

.search-nav:hover .modal-search {
    display: block;
}

.user-navigation .login {
    padding: 8px 15px;
    padding-left: 45px;   /* размер кнопок пользовательского меню / вход в лк */
}

.login::after {
    background: url("./../img/entrance.svg") no-repeat 0 0;
}

.login:hover::after {
    background: url("./../img/entrance-hover.svg") no-repeat 0 0;
}

.modal-login {
    display: none;      /*  скрытая форма авторизации   */
    position: absolute;
    top: 55px;
    left: 50%;
    margin-left: 170px;
    width: 277px;
    height: 212px;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.modal-login form {
    padding: 20px;
}

.modal-login .form-input {
    width: 241px;
    height: 44px;
    margin-bottom: 20px;
}

.links {
    position: relative;
    top: -63px;
    left: 140px;
}

.links a {
    color: #323232;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    padding-top: 0;
    border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.links a:hover,
.links a:active {
    color: #e84d37;
    font-weight: 400;
    border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

.login-nav:hover .modal-login {
    display: block;
}

.user-navigation .basket {
    width: 118px;
    padding: 8px 32px;
    padding-left: 45px;   /* размер кнопок пользовательского меню / пустая корзина */
}

.basket::after {
    background: url("./../img/basket.svg") no-repeat 0 0;
}

.basket:hover::after {
    background: url("./../img/basket-hover.svg") no-repeat 0 0;
}

.user-navigation .two-goods {
    padding: 7px 17px;
    padding-left: 44px;   /* размер кнопок пользовательского меню / корзина с товарами */
    color: #323232;
    background-color: rgba(248, 247, 244, 0.98);
}

.two-goods::after {
    background: url("./../img/basket-red.svg") no-repeat 0 0;
}

.modal-buy {
    display: none;  /*  скрытая корзина */
    position: absolute;
    top: 55px;
    left: 50%;
    margin-left: 33px;
    width: 540px;
    font-size: 13px;
    font-weight: 400;
    color: #323232;
    line-height: 16px;
    background-color: #f8f7f4;
    border-radius: 5px;
    border-collapse: collapse;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.modal-buy .buy {
    margin: 18px 12px;
    margin-bottom: 65px;
    font-size: 13px;
    line-height: 16px;
}

.modal-buy tr {
    margin-bottom: 20px;
}

.modal-buy td {
    padding: 0;
    padding-right: 14px;
}

.modal-buy .close {
    padding-left: 2px;
}

.close .close-small {
    padding: 0;
    border: none;
    background-color: #f8f7f4;
}

.modal-buy .name {
    max-width: 220px;
    padding: 0;
    padding-right: 29px;
}

.modal-buy .qty {
    padding: 0;
    padding-right: 29px;
}

.qty span {
    opacity: 0.5;
}

.modal-buy .sum {
    padding: 0;
}

.modal-buy .amount {
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-align: right;
    border-top: 1px solid #ababab;
    padding-top: 14px;
    padding-bottom: 10px;
    padding-right: 0;
}

.button-buy {
    position: absolute;
    bottom: 19px;
    right: 14px;
}

.basket-nav:hover .modal-buy {
    display: block;
}

.header-container {
    display: flex;
}

.header-container-catalog {
    display: flex;
    justify-content: space-between;
}

.breadcrumbs {
    padding-top: 20px;
}

.breadcrumbs .url {
    font-size: 14px;
}

.breadcrumbs .url:hover,
.breadcrumbs .url:active {
    color: #ffbc9e;
}

.breadcrumbs .url-active {
    text-decoration: none;
}

.breadcrumbs .url::after {
    content: "»";
    display: inline-block;
    margin: 0 6px;
    color: #ffffff;
}

.breadcrumbs .url-active::after {
    display: none;
}

.header-phone {
    margin: 0;
    margin-top: -3px;
    margin-left: auto;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

.header-phone span {
    font-size: 22px;
    line-height: 30px;
}

.slider {
    position: relative;
    padding-top: 272px;
    padding-bottom: 107px;
    text-align: center;
    color: #ffffff;
}

.promo-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.promo {
    display: none;
}

.caption {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}

.button-promo {
    display: inline-block;
    vertical-align: top;
}

.index-paginator {
    position: absolute;
    bottom: 63px;
    left: 2px;
    font-size: 0;
}

.index-paginator label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#product-1:checked ~ .site-wrapper #promo1,
#product-2:checked ~ .site-wrapper #promo2,
#product-3:checked ~ .site-wrapper #promo3 {
    display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: #ffffff;
}

.button-promo {
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -138px;
    font-size: 32px;
    line-height: 44px;
    padding: 10px 40px;
}

.caption-catalog {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    margin-top: 0;
    margin-bottom: 25px;
}

.filter-block {
    margin-bottom: 25px;
}

.filter {
    display: flex;
    flex-wrap: wrap;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    margin-right: 15px;
    margin-bottom: 15px;
}

.filter-sort,
.filter-price,
.filter-fat,
.filter-fillings {
    border: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.filter legend {
    margin-bottom: 5px;
    margin-left: 17px;
}

.filter-price legend {
    margin-left: 14px;
}

.filter-fat legend {
    margin-left: 15px;
}

.filter-sort {
    position: relative;
    top: 0;
    left: 0;
}

.filter-sort select {
    position: relative;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    padding: 6px 16px;
    padding-right: 33px;
    background-color: rgba(248, 247, 244, 0.2);
    border: none;
    border-radius: 50px;
    height: 38px;
    -webkit-appearance: none;
}

.filter-sort select:hover {
    color: #323232;
}

.filter-sort select:focus {
    color: #323232;
    background-color: #ffffff;
}

.filter-sort .arrow {
    position: relative;
    top: 0;
    left: 0;
}

.filter-sort .arrow::before {
    content: '';
    position: absolute;
    left: 169px;
    top: -24px;
    border: 6px solid transparent;
    border-top: 11px solid #ffffff;
}

.filter-sort:hover .arrow::before {
    border-top: 11px solid #323232
}

.filter-sort option {
    color: #323232;
}

.filter-price .price-number {
    font-size: 16px;
    line-height: 18px;
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 50px;
    width: 218px;
    height: 38px;
    position: relative;
}

.price-number .price-scale {
    width: 176px;
    height: 0;
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
    padding: 8px 0;
    margin-left: 21px;
}

.price-scale::before,
.price-scale::after {
    content: "";
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50px;
    cursor: pointer;
}

.price-scale::before {
    position: absolute;
    top: 8px;
    left: 34px;
}

.price-scale::after {
    position: absolute;
    top: 8px;
    left: 132px;
}

.price-scale:hover::before,
.price-scale:hover::after,
.price-scale:focus::before,
.price-scale:focus::after {
    top: 7px;
    width: 4px;
    height: 4px;
    border: 9px solid #ffffff;
    border-radius: 50px;
}

.filter-fat .fat {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 18px;
    padding: 10px 2px;
    padding-left: 10px;
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 50px;
}

.fat input[type="radio"] {
    display: none;
    width: 22px;
    height: 22px;
}

.fat label {
    margin-right: 16px;
}

.radio {
    display: none;
    width: 22px;
    height: 22px;
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.radio + label {
    position: relative;
    padding: 0 0 0 34px;
    cursor: pointer;
}

.radio + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 4px;
    width: 14px;
    height: 14px;
    border: 4px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.radio + label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 11px;
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    opacity: 0;
}

.radio:checked + label:after {
    opacity: 1;
}

.radio:hover + label:before {
    border: 4px solid  rgba(255, 255, 255, 1);
}

.radio:hover + label:after {
    background: rgba(255, 255, 255, 1);
}

.radio:disabled + label:before {
    border: 4px solid  rgba(255, 255, 255, 0.4);
}

.radio:disabled + label:after {
    background: rgba(255, 255, 255, 0.4);
}

.filter-fillings {
    display: flex;
    align-items: center;
    padding-bottom: 0;
}

.filter-fillings .fillings-type {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 18px;
    padding: 13px;
    padding-right: 2px;
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 50px;
    height: 10px;
}

.fillings-type label {
    margin-right: 17px;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.checkbox + label {
    position: relative;
    padding: 1px 0 0 36px;
    cursor: pointer;
}

.checkbox + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 4px;
    width: 24px;
    height: 20px;
    background: url("./../img/checkbox-off.svg") no-repeat 0 0;
    background-size: contain;
    opacity: 0.8;
}

.checkbox:checked + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 4px;
    width: 24px;
    height: 20px;
    background: url("./../img/checkbox-on.svg") no-repeat 0 0;
    background-size: contain;
    opacity: 0.8;
}

.checkbox:hover + label:before {
    opacity: 1;
}

.checkbox:disabled + label:before {
    opacity: 0.4;
}

.button-filter button {
    font-weight: 500;
    color: #ffffff;
    padding: 6px 27px;
    margin: 0;
    margin-top: 23px;
    border: 2px solid #ffffff;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

.button-filter button:hover {
    color: #323232;
    background-color: #ffffff;
}

.button-filter button:active {
    border: none;
    background-color: #ededed;
    box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 1)
}

.sale {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.sale-raspberry,
.sale-chocolate {
    position: relative;
    top: 0;
    left: 0;
    max-width: 560px;
    min-height: 230px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    border-radius: 15px;
}

.sale-raspberry {
    background: #940a27 url("./../img/raspberry-background.jpg") repeat 0 0;
}

.sale-chocolate {
    background: #5b3117 url("./../img/chocolate-background.jpg") repeat 0 0;
}

.sale h2 {
    font-size: 35px;
    line-height: 41px;
    margin: 18px 20px;
    margin-bottom: 15px;
}

.sale p {
    margin: 0 20px;
}

.button-sale {
    position: absolute;
    bottom: 25px;
    right: 21px;
    font-size: 18px;
    line-height: 24px;
}

.hit {
    margin-bottom: 37px;
}

.price-list {
    margin-bottom: 44px;
}

.hit > ul,
.price-list > ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.hit li,
.price-list li {
    position: relative;
    width: 267px;
    text-align: center;
}

.price-list ul {
}

.price-list li {
    margin-bottom: 36px;
}

.button-card {
    display: none;
}

.product {
    position: relative;
    top: 0;
    left: 0;
}

.hit .product:hover::before,
.price-list .product:hover::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -13px;
    width: 267px;
    height: 395px;
    background-color: rgba(248,247,244, 0.2);
    border-radius: 5px;
    margin: 0;
    padding: 5px 13px;
    z-index: -1;
}

.product:hover {
    z-index: 1;
}

.product:hover .button-card {
    display: block;
    position: absolute;
    top: 330px;
    left: 50%;
    margin-left: -101px;
    margin-top: 10px;
}

.hit .ice,
.price-list .ice,
.modal-buy .ice {
    border-radius: 50%;
}

.hit-image {
    position: absolute;
    top: 0;
    left: 0;
}

.hit p,
.price-list p {
    position: absolute;
    top: 162px;
    left: 0;
    font-size: 45px;
    font-weight: 700;
    color: #ffffff;
}

.weight {
    font-size: 28px;
    padding-left: 6px;
}

.hit .product-title,
.price-list .product-title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.product-title {
    margin: 0;
    margin-top: 11px;
}

.price-list a:hover,
.price-list a:active {
    color: #ffbc9e;
}

.product .url-underline {
    position: relative;
    top: -3px;
}

.features {
    color: #323232;
    background: #eee0c7 url("./../img/features-fond.png") repeat;
    border-radius: 15px;
    padding: 25px 0;
    padding-bottom: 0;
    margin: 0;
    margin-bottom: 40px;
}

.features .features-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    padding: 21px 20px;
    padding-top: 0;
    margin: 0;
}

.features-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.feature-item {
    position: relative;
    top: 0;
    left: 0;
    width: 487px;
    line-height: 22px;
    padding-left: 78px;
    padding-bottom: 22px;
}

.item-1::after {
    position: absolute;
    top: -13px;
    left: 20px;
    content: "";
    width: 50px;
    height: 50px;
    background: url("./../img/ice-cream.svg") no-repeat 0 0;
}

.item-2::after {
    position: absolute;
    top: -13px;
    left: 20px;
    content: "";
    width: 50px;
    height: 50px;
    background: url("./../img/cow.svg") no-repeat 0 0;

}

.item-3::after {
    position: absolute;
    top: -13px;
    left: 20px;
    content: "";
    width: 50px;
    height: 50px;
    background: url("./../img/eco.svg") no-repeat 0 0;

}

.item-4::after {
    position: absolute;
    top: -13px;
    left: 20px;
    content: "";
    width: 50px;
    height: 50px;
    background: url("./../img/thermometer.svg") no-repeat 0 0;

}

.sweet-news {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 40px;
}

.blog {
    width: 560px;
    height: 220px;
    color: #323232;
    background: #ffffff url("./../img/blog-background.jpg") no-repeat;
    border-radius: 15px;
}

.blog-description {
    font-weight: 500;
    padding: 25px 20px;
    padding-bottom: 5px;
    margin: 0;
}

.blog-title {
    max-width: 285px;
    padding: 0 20px;
    margin: 0;
}

.blog-title a {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #323232;
    background-color: rgba(255, 255, 255, 0.8);
}

.subscribtion {
    width: 560px;
    height: 220px;
    color: #323232;
    background-image: url("./../img/bg-post-2.svg"),
                      url("./../img/bg-post.svg");
    background-repeat: no-repeat,
                       no-repeat;
    background-position: 50% 50%,
                         50% 50%;
    border-radius: 15px;
}

.subscribtion p {
    padding: 35px 25px;
    margin: 0;
    line-height: 22px;
}

.send-email {
    padding: 0 25px;
    margin: 0;
}

.send-email input {
    min-width: 368px;
    min-height: 44px;
    margin-right: 8px;
}

.button-subscribtion {
    padding: 10px 19px;
}

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation-map {
    position: relative;
    background: url("./../img/map.jpg") repeat-x 0 0;
}

.marker {
    position: relative;
    top: 140px;
    left: 268px;
}

.contacts {
    position: relative;
    top: -80px;
    left: 870px;
    width: 253px;
    height: 245px;
    font-size: 14px;
    line-height: 20px;
    color: #323232;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px 25px;
}

.contacts p {
    margin: 0;
    margin-bottom: 20px;
}

.contacts span {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.button-contacts {
    position: absolute;
    bottom: 30px;
    padding: 10px 25px;
}

.catalog-paginator {
    width: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 19px;
}

.paginator {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    margin-right: -7px;
}

.paginator a {
    display: block;
    text-decoration: none;
    padding-top: 4px;
    padding-bottom: 3px;
    padding-right: 8px;
    padding-left: 8px;
    margin-left: 5px;
    cursor: pointer;
}

.paginator a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

.paginator a:active,
.paginator .active {
    background-color: #ffffff;
    border-radius: 50%;
    color: #3b3b3b;
    font-weight: 500;
}

.paginator .prev {
    padding-left: 10px;
    padding-right: 7px;
}

.paginator .next {
    padding-left: 7px;
    padding-right: 10px;
}

.prev-arrow {
    width: 8px;
    height: 8px;
    border: 1px solid #ffffff;
    border-bottom: none;
    border-left: none;
    transform: rotate(225deg);
    margin-top: 4px;
    padding-left: 0;
    opacity: 0.3;
}

.next-arrow {
    width: 8px;
    height: 8px;
    border: 1px solid #ffffff;
    border-bottom: none;
    border-left: none;
    transform: rotate(45deg);
    margin-top: 4px;
    padding-right: 0;
}

.arrow:hover {
    background: none;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-social ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 18px 0;
    margin-left: 2px;
}

.footer-social li {
    margin-right: 13px;
}

.social-button img {
    opacity: 0.8;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.social-button:hover img {
    opacity: 1;
    border: 2px solid rgba(255, 255, 255, 0.7);
}

.social-button:active img {
    opacity: 0.6;
    border: 2px solid rgba(255, 255, 255, 0.7);
}

.footer-documents {
    margin-right: 73px;
}

.footer-documents ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    height: 45px;
    padding: 0;
    margin: 14px 0;
}

.footer-documents li {
    margin-left: 31px;
    margin-bottom: 3px;
}

.footer-documents .url {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.footer-documents .url-bold {
    font-weight: 700;
}

li.heart {
    position: relative;
    top: 0;
    left: 0;
}

li.heart::after {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 4px;
    left: -22px;
    background: url("./../img/heart.svg") no-repeat 0 0;
}

.footer-copyright,
.footer-copyright .url {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-top: -2px;
}

.modal {
    color: #323232;
/*    display: none;      /*  все формы в скрытом состоянии    */
}

.over-layer {
    display: none;   /*  скрытая форма обратной связи + затемнение страницы   */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.modal-reply {
    position: fixed;
    top: 25%;
    left: 50%;
    margin-left: -238px;
    width: 477px;
    height: 442px;
    border-radius: 10px;
    background-color: #f8f7f4;
}

.reply-title {
    margin: 20px 24px;
}

.reply {
    margin: 24px;
}

.reply .form-input {
    width: 267px;
    height: 44px;
    margin-bottom: 20px;
}

.reply .form-textarea {
    width: 428px;
    height: 155px;
    resize: none;
    margin-bottom: 25px;
}

.button-reply {
    position: absolute;
    right: 24px;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0;
    border: none;
    background-color: #f8f7f4;
}

.form-input,
.form-textarea {
    padding: 9px 14px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid #b2b2b2;
    opacity: 0.7;
    box-sizing: border-box;
}

.form-input {
    width: 250px;
    height: 40px;
}
.form-textarea {
    width: 250px;
    height: 200px;
}

.form-input:hover,
.form-textarea:hover {
    padding: 5px 13px;
    border: 2px solid #b2b2b2;
}

.form-input:focus,
.form-textarea:focus {
    outline: 0;
    border: 2px solid #8fbdec;
    opacity: 1;
}

.form-input:focus::placeholder {
    color: transparent;
}

.form-input::placeholder,
.form-textarea::placeholder {
    font-weight: 400;
}